.org {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 120px;
}

.avatarImg {
  height: 50px;
  margin-right: 30px;
}

.primary {
  font-weight: 700;
  margin-bottom: 6px;
}

.secondary {
  font-weight: 400;
  color: grey;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}

.info2 {
  margin-left: auto;
  text-align: right;
}

.noDefaultLinkStyle {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.openInNewIcon {
  height: 12px;
  position: relative;
  top: -3px;
}
