.org {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100px;
  padding: 5px;
}

.avatarImg {
  height: 50px;
  margin-right: 30px;
}

.primary {
  font-weight: 700;
  margin-bottom: 6px;
}

.name {
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondary {
  font-weight: 400;
  color: grey;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

.info2 {
  margin-left: auto;
  text-align: right;
}

.noDefaultLinkStyle {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.openInNewIcon {
  height: 12px;
  position: relative;
}

@media (max-width: 615px) {
  .name {
    max-width: 20ch;
  }
  .description {
    display: none;
  }
  .info2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .website {
    max-width: 15ch;
  }
  .location {
    max-width: 15ch;
  }
}
