.paginationControls {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.controls {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}

.paginationButton {
  width: 47%;
  max-width: 145px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 14px;
  color: white;
  background-color: #545d8e;
}
.paginationButton:hover {
  background-color: #7986cb;
}
.paginationButton:disabled {
  background-color: lightgray;
}

.bold {
  font-weight: 700;
}
