.resultsMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

@media (max-width: 480px) {
  .resultsInfo {
     font-size: 14px;
  }
}

.paginationControls {
  width: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.paginationButton {
  width: 145px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: #545d8e;
}
.paginationButton:hover {
  background-color: #7986cb;
}
.paginationButton:disabled {
  background-color: lightgray;
}

.bold {
  font-weight: 700;
}
