.authenticate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-top: 50px;
}

@media only screen and (max-width: 615px) {
  .authenticate {
    width: 70%;
  }
}

.welcomeHeading {
  margin-top: 25px;
}

.authLink {
  margin: 25px 0;
}

.whyAccessWrapper {
  text-align: left;
  padding: 0 25px;
}
