.authenticate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.welcomeHeading {
  margin-top: 25px;
}

.authLink {
  margin: 25px 0;
}

.whyAccessWrapper {
  text-align: left;
  padding: 0 25px;
}

.reassurance {
  font-size: 13px;
}
