.filtering {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filterToggle {
  font-weight: 700;
  border: 1px solid grey;
}

.filter {
  margin: 10px;
}

.filterInput {
  height: 25px;
  font-size: 14px;
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.clearFilters {
  height: 25px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}

.clearFilters:hover {
  background-color: white
}
.clearFilters:disabled {
  background-color: grey;
}
